<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Grid Layout</title>
    <style>
        .wrapper>div {
            border-radius: 5px;
            background-color: rgb(207, 232, 220);
            padding: 1em;
        }

        .wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 100px 8em;
            grid-gap: 0.3em;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="box1">Jedan</div>
        <div class="box2">Dva</div>
        <div class="box3">Tri</div>
        <div class="box4">Četiri</div>
        <div class="box5">Pet</div>
        <div class="box6">Šest</div>
    </div>
</body>

</html>