<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    .container {
        column-width: 10em;
    }
    </style>
</head>

<body>
    <div class="container">
        <h1>Naslov</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam natus expedita voluptate? Repellendus
            consequuntur maiores eos reprehenderit, tenetur odio ratione labore cumque nostrum doloribus temporibus.
            Consequuntur ea obcaecati error itaque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet odit excepturi iure ipsum quasi eius earum
            mollitia, id quod, sint impedit molestias vero natus unde illo magnam, pariatur nostrum eos!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, sit?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, sit?</p>
    </div>
</body>

</html>